@media print {
	a {
		text-decoration: none !important;
		color: inherit;
	}

	/* Make name little bit smaller for printing, otherwise it take two lines */
	h1 {
		font-size: 2em;
	}

	.tooltip {
		display: none !important;
	}
}
